[submodule "embedded8266/esp82xx"]
	path = embedded8266/esp82xx
	url = https://github.com/cnlohr/esp82xx.git
[submodule "forwarderstm32f103/libopencm3"]
	path = forwarderstm32f103/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
